* {
    outline: 1px solid tomato--;
}

.header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    border-bottom: 1px solid #ddd;
}

.header .inner {
    position: relative;
    background: #fff;
    line-height: 80px;
}

.header_wrap {
    display: flex;
    line-height: 80px;
    justify-content: space-between;
}

.header_wrap h1 img {
    vertical-align: text-bottom;
}

.header_wrap .gnb ul {
    display: flex;
}

.header_wrap .gnb ul li {
    padding: 0 15px;
    text-align: center;
    white-space: nowrap;
}

.header_wrap .gnb ul li a {
    font-size: 18px;
    font-weight: 500;
    line-height: 1;
}

.header_wrap .util {
    display: flex;
    gap: 15px;
}

.header_wrap .util ul {
    display: flex;
    gap: 15px;
}

.header_wrap .util ul li a {
    font-size: 14px;
    line-height: 1;
}

.header_wrap .util .lang select {
    border: 2px solid #ddd;
    border-radius: 10px;
    font-size: 12px;
    color: #ddd;
    cursor: pointer;
}

/* 서브 메뉴 */
.header_wrap .gnb ul .menu_btn {
    position: relative;
}

.header_wrap .gnb ul .menu_btn span {
    font-size: 0;
    margin: 0 0 0 10px;
    vertical-align: middle;
}

.header_wrap .gnb ul .menu_btn span::before {
    position: absolute;
    top: 50%;
    right: -10px;
    transform: translate(0, -50%);
    padding: 10px;
    content: "\e941";
    font-family: xeicon;
    font-size: 16px;
    cursor: pointer;
    transition: 0.5s;
}

.header_wrap .gnb ul .menu_btn.on span::before {
    transform: translate(0, -50%) rotate(180deg);
}

.header .sub_menu {
    position: absolute;
    top: 81px;
    left: 0;
    right: 0;
    padding: 25px 0;
    border-bottom: 1px solid #ddd;
    background: #fff;
    overflow: hidden;

    height: 0;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.header .sub_menu.on {
    opacity: 1;
    height: 300px;
    visibility: visible;
    z-index: 995;
}

/* 서브메뉴 스타일 */
.header .sub_menu .sb_wrap {
    display: flex;
}

.header .sub_menu .sb_wrap dt a {

    font-size: 18px;
    font-weight: 500;
    margin: 0 0 10px 0;
}

.header .sub_menu .sb_wrap dd {
    font-size: 14px;
    color: #bbb;
    line-height: 2;
}

.header .sub_menu .sb_wrap .menu_box {
    display: flex;
    gap: 150px;
    padding: 0 150px 0 0;
}

.header .sub_menu .sb_wrap .menu_box>dl:last-child {
    position: relative;
}

.header .sub_menu .sb_wrap .menu_box>dl:last-child::before {
    position: absolute;
    top: 50%;
    right: -150px;
    transform: translate(0, -50%);
    content: "";
    width: 1px;
    height: 100px;
    background: #ddd;
}

.header .sub_menu .sb_wrap .notice_box {
    padding: 25px 0 25px 150px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ1번째섹션ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainVisual {
    position: relative;
}

.mainVisual .visual_wrap figure {
    position: relative;
}

.mainVisual .visual_wrap figure .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1200px;
    width: 100%;
    padding: 0 15px;
    color: #fff;
}

.mainVisual .visual_wrap figure .slogan p {
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    margin: 0 0 30px 0;
}

.mainVisual .visual_wrap figure .slogan span {
    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}

.mainVisual .visual_wrap .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 0;
    border: none;
    background: none;
    text-align: center;
}

.mainVisual .visual_wrap .slick-prev {
    left: 200px;
    z-index: 2;
}

.mainVisual .visual_wrap .slick-prev::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-top: 1px solid #fff;
    border-left: 1px solid #fff;
    transform: rotate(-45deg);
}

.mainVisual .visual_wrap .slick-next {
    right: 200px;
}

.mainVisual .visual_wrap .slick-next::before {
    content: "";
    display: inline-block;
    width: 50px;
    height: 50px;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
}

.mainVisual .num {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 10px 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50px;
    color: #fff;
    line-height: 1;
    pointer-events: none;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ2번째섹션ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.mainDelivery .delivery_wrap {
    display: flex;
    gap: 30px;
}

.mainDelivery .delivery_wrap>* {
    flex: 1;
}

.mainDelivery .delivery_wrap .order_box {
    position: relative;
    text-align: center;

}

.mainDelivery .delivery_wrap .order_box::before {
    position: absolute;
    top: 80px;
    right: -15px;
    transform: translate(-50%, -50%);
    content: "";
    width: 1px;
    height: 100px;
    background: #ddd;
}

.mainDelivery .delivery_wrap .order_box:last-child::before {
    display: none;
}

.mainDelivery .delivery_wrap .order_box:hover i {
    transform: scale(1.2);
    transition: 0.5s;
}

.mainDelivery .delivery_wrap .order_box a {
    display: block;
    margin: 0 0 8px 0;
}

.mainDelivery .delivery_wrap .order_box i {
    display: block;
    font-size: 50px;
    margin: 0 0 20px 0;
}

.mainDelivery .delivery_wrap .order_box strong {
    display: inline-block;
    font-size: 40px;
    font-weight: 400;
}

.mainDelivery .delivery_wrap .order_box .strong_arrow {
    position: relative;
    display: inline-block;
    margin: 0 0 0 15px;
    width: 30px;
    height: 30px;
    background: #000;
    border-radius: 50%;
}

.mainDelivery .delivery_wrap .order_box .strong_arrow::after {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-50%, -50%);
    content: "";
    width: 10px;
    height: 10px;
    border-top: 2px solid #fff;
    border-left: 2px solid #fff;
    transform: rotate(135deg);
    z-index: 998;
}

.mainDelivery .delivery_wrap .order_box span {
    font-size: 14px;
    font-weight: 400;
    color: #bbb;
    line-height: 1.5;
}


.mainDelivery .delivery_wrap .box01 {
    color: #ff143c;
}


.mainDelivery .delivery_wrap .box01 .strong_arrow {
    background: #ff143c;
}

.mainDelivery .delivery_wrap .box02 {
    color: #1382ff;
}

.mainDelivery .delivery_wrap .box02 .strong_arrow {
    background: #1382ff;
}

.mainDelivery .delivery_wrap .box03 {
    color: #000;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ3번째섹션ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainMember {
    background: #ddd;
}

.member_wrap {
    display: flex;
}

.member_wrap .member_left .text_box {
    font-size: 30px;
    font-weight: 500;
    line-height: 1.5;
    margin: 0 0 30px 0;
}

.member_wrap .member_left .text_box p {
    font-weight: 700;
    color: #1382ff;
}

.member_wrap .member_left button {
    padding: 10px 30px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    color: #fff;
    background: #000;
    cursor: pointer;
}

.member_wrap .member_right {
    display: flex;
    margin: 0 0 0 auto;
    gap: 30px;
}

.member_wrap .member_right .img_box {
    position: relative;
}

.member_wrap .member_right .img_box .slogan {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    white-space: nowrap;
    color: #fff;
    text-align: center;
    line-height: 1.3;
}

.member_wrap .member_right .img_box .slogan span {
    display: block;
    font-size: 28px;
    font-weight: 700;
}

.member_wrap .member_right .img_box .box01 span {
    font-size: 52px;
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ4번째섹션ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.mainBanner .banner_wrap .banner_slide {
    margin: 0 -15px;
}

.mainBanner .banner_wrap figure {
    margin: 0 15px;
    text-align: center;
    border: 1px solid #ddd;
}

.mainBanner .banner_wrap .banner_slide .itm {
    position: relative;
    margin: 0 0 30px 0;
    height: 300px;
}

.mainBanner .banner_wrap .banner_slide .itm01 {
    background: url(../images/mb_01.jpg) no-repeat center center/cover;
}

.mainBanner .banner_wrap .banner_slide .itm02 {
    background: url(../images/mb_02.jpg) no-repeat center center/cover;
}

.mainBanner .banner_wrap .banner_slide .itm03 {
    background: url(../images/mb_03.jpg) no-repeat center center/cover;
}

.mainBanner .banner_wrap .banner_slide .itm04 {
    background: url(../images/mb_04.jpg) no-repeat center center/cover;
}

.mainBanner .banner_wrap figure strong {
    display: block;
    margin: 0 0 15px 0;
    font-size: 22px;
    font-weight: 600;
}

.mainBanner .banner_wrap figure span {
    display: block;
    margin: 0 0 30px 0;
    font-size: 16px;
    font-weight: 500;
    color: #666;
}

.mainBanner .banner_wrap .banner_slide .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-size: 0;
    border: none;
    background: none;
    text-align: center;
}

.mainBanner .banner_wrap .banner_slide .slick-prev {
    left: -50px;

    z-index: 2;
}

.mainBanner .banner_wrap .banner_slide .slick-prev::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border-top: 1px solid #bbb;
    border-left: 1px solid #bbb;
    transform: rotate(-45deg);
}

.mainBanner .banner_wrap .banner_slide .slick-next {
    right: -50px;
}

.mainBanner .banner_wrap .banner_slide .slick-next::before {
    content: "";
    display: inline-block;
    width: 40px;
    height: 40px;
    border-top: 1px solid #bbb;
    border-right: 1px solid #bbb;
    transform: rotate(45deg);
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ푸터ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.footer .footer_wrap {
    border-top: 1px solid #ddd;
}

.footer .footer_wrap .footer_top {
    position: relative;
    padding: 40px 0 0 0;
}

.footer .footer_wrap .footer_top>* {
    margin: 0 0 30px 0;
}

.footer .footer_wrap .footer_top .tell strong {
    vertical-align: -10px;
    margin: 0 0 0 30px;
    font-size: 32px;
    font-weight: 600;
}

.footer .footer_wrap .footer_top ul {
    display: flex;
    gap: 30px;
}

.footer .footer_wrap .footer_top ul li a {
    color: #bbb;
}

.footer .footer_wrap .footer_top ul .ip a {
    font-weight: 900;
    color: #000;
}

.footer .footer_wrap .footer_top p {
    font-size: 14px;
    line-height: 1.4;
    color: #bbb;
}

.footer .footer_wrap .footer_top span {
    position: relative;
    padding: 0 15px 0 0;
}

.footer .footer_wrap .footer_top span::before {
    position: absolute;
    top: 6px;
    left: -8px;
    transform: translate(-50%, 0);
    content: "";
    width: 1px;
    height: 10px;
    background: #bbb;
}

.footer .footer_wrap .footer_top span:first-child::before {
    display: none;
}

.footer .footer_wrap .footer_top span:nth-of-type(3)::before {
    display: none;
}

.footer .footer_wrap .footer_top .content {
    position: absolute;
    top: 55px;
    right: 15px;
    text-align: right;
}

.footer .footer_wrap .footer_top .content select {
    margin: 0 0 90px 0;
    padding: 0 80px 0 0;
    border: none;
    background: none;
    color: #bbb;
    border-bottom: 1px solid #000;
    cursor: pointer;
}

.footer .footer_wrap .footer_top .content select option {
    color: #666;
}

.footer .footer_wrap .footer_top .content .download {
    line-height: 30px;
    margin: 0 0 90px 0;
    color: #000;
}

.footer .footer_wrap .footer_top .content .download span {
    padding: 0 5px 0 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
}

.footer .footer_wrap .footer_top .content .download i {
    font-size: 30px;
    vertical-align: middle;
}

.footer .footer_wrap .footer_top .content .sns {
    font-size: 30px;
    color: #666;
}


.footer .footer_wrap .footer_bot {
    background: #f5f5f5;
}


.footer .footer_wrap .footer_bot .bot_wrap {
    padding: 25px 0;
}

.footer .footer_wrap .footer_bot .bot_wrap ul {
    display: flex;
    gap: 30px;
}

.footer .footer_wrap .footer_bot .bot_wrap ul li {
    display: flex;
}

.footer .footer_wrap .footer_bot .bot_wrap ul li p {
    white-space: nowrap;
    font-size: 12px;
    color: #bbb;
    line-height: 1.5;
    padding: 0 0 0 5px;
}